* {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1rem);
}

body {
  color: #fff;
  background-color: #0c0f11;
}

nav {
  position: absolute !important;
  z-index: 2;
}

img {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
}

h1 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

.gen-btn,
.gen-btn:hover {
  transition: ease-in-out 200ms;
  text-decoration: none;
}

.primary-btn {
  background-color: #2b6cb0;
  color: #e2e8f0;
  padding: 0.25rem 0.75rem;
  border-radius: 0.3rem;
}

.primary-btn:hover {
  background-color: #2c5282;
  color: #e2e8f0;
}

.danger-btn {
  border: 1px solid #e53e3e;
  box-sizing: border-box;
  padding: 0.2rem 0.75rem;
  border-radius: 0.3rem;
  color: #e53e3e;
}
.danger-btn:hover {
  background-color: #e53e3e;
  color: #e2e8f0;
}

.nav-link {
  transition: ease-in-out 0.2s;
}

.sibling-highlight {
  transition: ease-in-out 0.2s;
  border-top: 1.5px solid #edf2f7;
  width: 0%;
  margin: -5px auto 0 auto;
}

.sibling-hover:hover ~ .sibling-highlight {
  width: 70%;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.cust-input {
  display: block;
  width: 100%;
  color: #1a202c;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 1pt 0 #1a202c;
  transition: ease-out 100ms;
}

.cust-input:focus {
  transition: ease-in 100ms;
  outline: none;
  box-shadow: 0 0 3pt 1pt #4299e1;
}

.cust-img {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  transition: ease-in 100ms;
}

.cust-img-active {
  filter: blur(2px);
  transform: scale(1.05);
  transition: ease-in 100ms;
}

.cust-img:hover {
  transform: scale(1.05);
}

.fa-check-square {
  -webkit-text-stroke: 1px #1a202c;
  color: #9ae6b4;
}

.spinner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #2b6cb0;
}

.spinner-div .spinner-border {
  width: 3rem;
  height: 3rem;
}

.std-link {
  color: #2b6cb0;
  transition: color ease-out 200ms;
}

.std-link:hover {
  text-decoration: none;
  color: #1a202c;
  transition: color ease-in 200ms;
}

.err-div {
  background-color: #feb2b2;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: #1a202c;
  text-align: center;
}

.saved-changes {
  grid-column: span 5 / span 5;
  background-color: #9ae6b4;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: #1a202c;
}
