.map-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.mapboxgl-ctrl {
  display: none;
}

.mapboxgl-popup-content {
  color: #1a202c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}

.mapboxgl-popup-close-button {
  background-color: aqua !important;
  width: 30px;
  height: 30px;
  display: none;
}

.popup-inner {
  width: 200px;
  height: 100px;
}

.fa-popup {
  transition: ease-in-out 0.2s;
  font-size: 1.5rem;
}

.popup-btn-grp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fa-popup-times {
  margin-left: 0.5rem;
}

.fa-popup-times:hover,
.fa-popup-trash:hover {
  color: #e53e3e;
}

.fa-popup-pencil:hover {
  color: #2b6cb0;
}
