h2 {
  font-weight: 600;
}

.settings-div {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/settings-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem;
  min-height: 100vh;
  background-color: #e2e8f0;
  text-align: center;
  color: #1a202c;
}

.settings-div-inner {
  max-width: 72rem;
  grid-gap: 1.25rem;
  gap: 1.25rem;
}

.settings-card {
  grid-column: span 5 / span 5;
  background-color: #e2e8f0;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.back-btn {
  border: 1px solid #e53e3e !important;
}
.save-btn {
  border: 1px solid #2b6cb0 !important;
}

.sat-img-settings {
  width: 50%;
  margin: 0 auto;
}

.account-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.account-field h4,
.account-field h5 {
  margin: 0;
}

.fa-settings {
  cursor: pointer;
  transition: ease-in-out 200ms;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.fa-pencil-square-o {
  color: #2b6cb0;
}

.fa-pencil-square-o:hover {
  color: #1a202c;
  transition: ease-in-out 200ms;
}

.fa-ch-sq-cust:hover {
  color: #70bd8b;
  transition: ease-in-out 200ms;
}

@media only screen and (max-width: 550px) {
  .settings-nav-bg {
    height: 6%;
  }
}

@media only screen and (min-width: 640px) {
  .sat-img-settings {
    width: 100%;
  }

  .settings-div {
    padding: 6rem 1.5rem;
  }
}
